
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">


</div>

<div class="bg-white text-center text-dark font-weight-bold">
    <h1 class="display-4">Welcome ATZ-tech</h1>
    <img class="flex-column align-items-center" src="~/lib/img/indeximg.jpg" />
</div>
<section>
    <div class="flex-column align-items-center">

    </div>
</section>